<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://plsupport.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2ec7f68d-ce3a-4b1a-af3c-0049ebc6eb78/resourceGroups/Paperless/providers/Microsoft.Web/sites/plsupport</ResourceId>
    <UserName>$plsupport</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://plsupport.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>